<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meal tracker</title>
</head>
<body>

    <h1> MEAL TRACKER </h1>
    <form action="#" th:action="@{/processForm}" th:object="${simpleNote}"  method="post">
        <input type="hidden" th:filed="*{id}"/>
        <p> <input type="text" th:field="*{textFiled}" /> </p>
        <p> <input type="submit"/> </p>
    </form>

</body>
</html>