<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meal tracker</title>
</head>
<body>

    <h1> MEAL TRACKER </h1>
  
    <h3>Add new Note</h3>
    <form action="#" th:action="@{/addNote}" th:object="${note}"  method="post">
        <input type="hidden" th:filed="*{id}"/>
        <p>Type : <input type="text" th:field="*{mealType}" /> </p>
        <p>Description<input type="text" th:field="*{description}" /> </p>
        <p> <input type="submit"/> </p>
    </form> 
    <hr>


    <h1>Notes</h1>
    <table>
        <thead>
            <tr>
                <th> Id </th>
                <th> DATE</th>
                <th> Time</th>
                <th> Meal Type </th>
                <th> Meal Description </th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${allNotes.empty}">
                <td colspan="2"> No Meals </td>
            </tr>
            <tr th:each="note : ${allNotes}">
                <td><span th:text="${note.id}"> ID </span></td>
                <td><span th:text="${note.date}"> DATE </span></td>
                <td><span th:text="${note.time}"> TIME </span></td>
                <td><span th:text="${note.mealType}"> type </span></td>
                <td><span th:text="${note.description}"> DESCRIPTION </span></td>

            </tr>
        </tbody>
    </table>

</body>
</html>